header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}

/* .main-2 {
    position: fixed;
    left: 0px;
    bottom: 0px;
} */

.sub-main {
    display: flex;
    gap: 2%;
    align-items: center;
}

.sub-main img {
    height: 2vh;
    width: 2vw;
    align-items: center;
    /* margin-bottom: 60px; */
}

.sub-main button {
    height: 36px;
    width: 150px;
    border-radius: 12px;
    background-color: #FF6600;
    border: none;
    color: white;
}

.NG {
    width: 21%;
}

.NG p {
    color: grey;
    font-size: small;
}

.NG span {
    font-weight: 900;
    font-family: sans-serif;
    color: black;
}

.ali {
    align-items: center;
    width: 12vw;
    height: 12vh;
}


.cat {
    display: flex;
    align-items: center;
}

.fish {
    display: flex;
    gap: 2%;
}

.dropbtn-1 {
    border: none;
}

.dropdown-1 {
    position: relative;
    display: inline-block;
}

.dropdown-content-1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 1100%;
    height: 400%;
    padding-bottom: 30%;
    overflow-x: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content-1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-1 a:hover {
    background-color: #ddd;
}

.dropdown-1:hover .dropdown-content-1 {
    display: block;
}

.dropdown-1:hover .dropbtn-1 {
    text-decoration: underline;
}

.dropbtn-2 {
    /* margin-left: 10px;
        margin-right: 5px; */
    border: none;
}

.dropdown-2 {
    position: relative;
    display: inline-block;
}

.dropdown-content-2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content-2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-2 a:hover {
    background-color: #ddd;
}

.dropdown-2:hover .dropdown-content-2 {
    display: block;
}

.dropdown-2:hover .dropbtn-2 {
    text-decoration: underline;
}

.dropbtn-3 {
    border: none;
}

.dropdown-3 {
    position: relative;
    display: inline-block;
}

.dropdown-content-3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content-3 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-3 a:hover {
    background-color: #ddd;
}

.dropdown-3:hover .dropdown-content-3 {
    display: block;
}

.dropdown-3:hover .dropbtn-3 {
    text-decoration: underline;
}

.st0 {
    width: 2vw;
    height: 2vh;
}

.AI {
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    font-family: sans-serif;
}

.border {
    border: 2px solid #FF6600;
    width: 50%;
    border-radius: 12px;
    padding: 7%;
    box-shadow: 0px 0px 20px 0px #FF6600;
}